/*
 * default colors
 */
$gray-1: #f9f9f9;
$gray-2: #ccc;
$gray-3: #767676;
$gray-4: #515151;
$gray-5: #313131;
$red: #ac4142;
$orange: #d28445;
$yellow: #f4bf75;
$green: #90a959;
$cyan: #75b5aa;
$blue: #268bd2;
$brown: #8f5536;

/*
 * dallas-nite colors
 */
 $stratos: #000542;
 $tolopea: #21064A;
 $paris: #230868;
 $meteorite: #342077;
 $blue-gem: #301C89;
 $jagger: #3D1159;
 $valentino: #3E0F3E;
 $scarlet-gum: #4C165C;
 $honey-flower: #532573;
 $rich-electric-blue: #0098DB;
 $deep-sky-blue: #00BFFE;
 $seagul: #84CDED;
 $charlotte: #B7F3FF;
 $carmine: #A30320;
 $crimson: #E0123C;
 $bright-maroon: #C6124E;
 $folly: #FF005F;
 $shamrock: #3DD3AD;
 $downy: #6EDEC2;
 $caribbean-green: #1AC296;
 $free-speech-aquamarine: #119D72;
 $periwrinkle: #CACAEC;
 $sail: #B8D8F4;
 $tickle-me-pink: #FE8AB3;
 $lavender-indigo: #9356F4;
 $white-ice: #E0FBED;
 $blue-chalk: #EFEAFC;
 $moon-raker: #D5C7F8;
 $soft-purple: #A180EF;

/*
 * font properties
 */
$root-font-family: 'Montserrat', sans-serif;
$root-font-size: 16px;
$root-line-height: 1.5;
$code-font-family: 'Source Code Pro', Menlo, Monaco, 'Courier New', monospace;

/*
 * element color properties
 */
$body-color: $gray-4;
$body-bg: $stratos;
$link-color: $blue;
$border-color: #e5e5e5;
$code-color: #bf616a;
/*
 * element structural properties
 */
$large-breakpoint: 38em;
$large-font-size: 20px;
